* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.meni {
  width: 100%;
  height: 3.5em;
  background: #374249; }
  .meni:before, .meni:after {
    content: "";
    display: table; }
  .meni:after {
    clear: both; }

nav {
  width: 93%;
  height: 100%;
  float: left;
  text-align: right; }
  nav ul {
    list-style-type: none;
    margin: 0 2em; }
    nav ul li {
      display: inline-block;
      padding: 1.5em 2em 0.5em 2em; }
      nav ul li a {
        color: #f3f7f9;
        text-decoration: none; }
        nav ul li a:hover {
          text-decoration: underline; }

.hamb {
  float: right;
  margin: 0 auto;
  width: 7%;
  height: 100%;
  background: #f38181;
  background-size: cover;
  padding: 0.3em 1em; }

.kontejner {
  width: 100%;
  color: #f3f7f9;
  font-family: "Roboto", sans-serif; }
  .kontejner:before, .kontejner:after {
    content: "";
    display: table; }
  .kontejner:after {
    clear: both; }

.pozadina {
  width: 100%;
  height: 45em;
  background: url("../slike/intro.jpg");
  background-size: cover;
  padding-top: 35.5em; }
  .pozadina h1, .pozadina h3, .pozadina h4 {
    vertical-align: bottom;
    width: 100%;
    color: #fff;
    font-weight: normal;
    background: rgba(55, 66, 73, 0.6);
    text-align: center;
    padding: 0.5em; }
  .pozadina h1 {
    font-size: 3em;
    font-weight: 900;
    padding: 0; }
  .pozadina h4 {
    padding-top: 1em; }
  .pozadina h3 {
    padding-bottom: 1em; }

.dugmici {
  text-align: right;
  margin: 2em 15%; }

.button {
  padding: 1em 1.3em;
  border-radius: 60px;
  color: #797979;
  border: 1px solid #cfd1d3;
  margin: 0 1em;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600; }
  .button:hover {
    background: #cfd1d3;
    color: #fff; }

.krugovi {
  width: 100%;
  clear: both;
  background: #f3f7f9;
  text-align: center;
  padding: 2em;
  color: black; }
  .krugovi:before, .krugovi:after {
    content: "";
    display: table; }
  .krugovi:after {
    clear: both; }

.slika {
  height: 10em; }
  .slika:before, .slika:after {
    content: "";
    display: table; }
  .slika:after {
    clear: both; }
  .slika img {
    width: 10em;
    background: black;
    border-radius: 50%;
    background-size: cover;
    opacity: 0.7;
    cursor: pointer; }

.nas {
  display: none;
  padding: 5em 2em 0 2em; }
  .nas h3 {
    text-transform: uppercase;
    font-weight: 600; }
  .nas h5 {
    color: #f38181; }

.slika:hover .nas {
  display: unset; }
.slika:hover img {
  opacity: 1; }

.komp, .ruke {
  padding-left: 28em; }
  .komp img, .komp .nas, .ruke img, .ruke .nas {
    float: left; }

.pare {
  padding-right: 30em; }
  .pare img, .pare .nas {
    float: right; }

.mapa h2, .tabela h2 {
  color: #374249;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: 1.5em; }

.tabela {
  color: #374249;
  text-align: center; }
  .tabela .pricingTable {
    width: 45%;
    margin: 3em auto;
    border-collapse: collapse; }
    .tabela .pricingTable th, .tabela .pricingTable td {
      padding: .5em; }
    .tabela .pricingTable .orange {
      background: #f38181;
      color: #fff; }
    .tabela .pricingTable .darkCol {
      background: #374249;
      color: #fff;
      font-weight: normal; }
    .tabela .pricingTable thead .darkCol {
      border-right: 1px solid #797979; }
    .tabela .pricingTable tbody td {
      border: 1px solid #797979; }

.pricingButton {
  display: none; }

.mapa {
  background: #f3f7f9;
  padding: 3em 17%;
  color: #374249; }
  .mapa:before, .mapa:after {
    content: "";
    display: table; }
  .mapa:after {
    clear: both; }
  .mapa .mapHolder {
    float: left;
    margin: 1em;
    width: 30%; }
    .mapa .mapHolder iframe {
      width: 100%; }
  .mapa form {
    width: 55%;
    margin: 1em;
    float: right;
    padding: 1em;
    background: #f38181; }
    .mapa form .contactInput {
      float: left;
      padding: .5em;
      color: #374249;
      border: none;
      margin: 1em; }
    .mapa form select {
      width: 20%; }
    .mapa form .contactInput[type="text"] {
      float: right;
      width: 70%; }
    .mapa form .contactInput[type="email"] {
      width: 96%; }
    .mapa form textarea.contactInput {
      width: 96%; }

footer {
  padding: 1em;
  text-align: center;
  width: 100%;
  background: #374249;
  color: #fff; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer span {
    color: #f38181; }

/*# sourceMappingURL=stil.css.map */
